/* HTML FORM STYLES */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Fira Sans Condensed",Arial,Georgia,serif;
}

/* PARTITIONS */
#gridcontainer {
    /*display: grid;*/
    /*grid-template-columns: repeat(12, 1fr);*/
    /*grid-template-rows: repeat(10, 1fr);*/
    height: 100vh;
    width:100vw;
}

#titlePart {
    height: 10%;
    /*grid-column: 1 / 13;*/
    /*grid-row: 1 / 1;*/
}

#leftSide {
    /*grid-column: 1 / 6;*/
    /*grid-row: 2 / 11;*/

    height: 90%;
    width: 40%;
    float: left;

}

#rightSide {
    /*grid-column: 6 / 13;*/
    /*grid-row: 2 / 11;*/

    height: 90%;
    width: 60%;
    float: left;
}

/* DEV BOX STYLING*/
.box {
    border-style: solid;
    border-color: red;
}

.box2 {
    border-style: solid;
    border-color: blue;
}

.box3 {
    border-style: solid;
    border-color: lawngreen;
}

/* TITLE */
#title {
    font-size: 4vh;
}

/* CAMERA */
#cameraContainer {
    height: 45%;
    box-sizing: border-box;
}

#videoElement {
    width: 100%;
    height: 100%;

    box-sizing: border-box;
}

/* KEYPAD */
#keyPadContainer {
    height: 55%;
    padding: 1vh;
    box-sizing: border-box;
}

#keyPad {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*margin: 15px;*/
    height: 100%;
    width: 100%;
    gap: 0.75vh;

    box-sizing: border-box;
}

#productCodeVeld {
    /*font-size: 30px;*/
    /*padding: 5px;*/
    /*margin: 2px;*/
    border-style: solid;
    grid-column: 1 / 5;

    background-color: white;
}

#backSpace {
    border-style: solid;
    /*margin: 3px;*/
    text-align: center;
    /*padding: 10% 0 0 0;*/
    /*font-size: 50px;*/
}

#enter {
    border-style: solid;
    text-align: center;
    grid-column: 4 /4;
    grid-row: 2 / 6;
    /*margin: 3px;*/
}

#enterText {
    /*margin: 90% 0%;*/
    /*font-size: 50px;*/
}

.numberItem {
    border-style: solid;
    text-align: center;
    /*margin: 3px;*/
    /*font-size: 50px;*/
    /*padding: 10% 0 0 0;*/
}

.keyPadItem:hover {
    background-color: #f5821f;
}

.keyPadItem {
    border-radius: 10px;
    border-color: black;
    background-color: #F1750A;
    font-size: 5.5vh;
}

#numberZero {
    grid-column: 2 / 2;
}

/* PRODUCT LIST */
#productListContainer {
    width: 100%;
    height: 60%;

    box-sizing: border-box;
}

#winkelmandItems {
    box-sizing: border-box;
}

/* PAYMENT */
#paymentContainer {
    width: 100%;
    height: 40%;

    box-sizing: border-box;
}